 @import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;800&display=swap');

 * {
     margin: 0;
     padding: 0;
     font-family: 'Mulish', sans-serif;
 }

 button {
     padding: 12px 28px;
     background-color: #FF5400;
     border: none;
     border-radius: 7px;
 }

 header,
 main {
     max-width: 1320px;
     padding: 0 110px;
     background: #FFF;
 }

 nav {
     display: flex;
     align-items: center;



 }

 .nav-left {
     display: flex;
     width: 50%;
     align-items: center;
     gap: 10px;
     margin: 42px 0 39px 0;
 }

 .nav-title {
     color: #131318;
     font-size: 29px;
     font-weight: 800;
 }

 .color {
     color: #FF5400;
 }

 nav>ul {
     display: flex;
     width: 50%;
     justify-content: space-between;
     color: #424247;
     font-size: 15px;
     font-weight: 400;
 }

 nav>ul>li {
     list-style: none;
     gap: 10px;

 }

 nav>ul>li>a {
     text-decoration: none;

 }

 .banner {
     height: 500px;
     margin-bottom: 81px;

 }

 .banner-img {
     background-image: url(Images/Group\ 13\ \(1\)\ \(1\).png);
     width: 100%;
     height: 100%;
     border-radius: 14px;
 }


 .linier-bg {
     background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
     border-radius: 14px;
 }

 .banner-title {
     padding: 85px 232px 10px 232px;
     color: #FFF;
     font-size: 51px;
     font-weight: 800;
 }

 .banner-description {
     text-align: center;
     color: #FFF;
     font-size: 13px;
     font-weight: 400;
     padding: 0 200px 48px;
 }


 .search-section {
     margin: 0 150px 85px;
     display: flex;
     padding: 15px;
     gap: 20px;
     background: rgba(255, 255, 255, 0.30);
 }

 .search {
     color: rgba(19, 19, 24, 0.50);
     text-align: center;
     font-size: 13px;
     font-weight: 400;
     padding: 13px 53px;
     background-color: #fff;
     border-radius: 7px;
 }

 .popular-tour {
     margin-bottom: 82px;
     display: flex;
     gap: 42px;
 }

 .image-section>img {
     height: 100%;
     width: 100%;
 }

 .text-section {
     width: 50%;
 }

 .text-section>.title {
     color: #131318;
     font-size: 32px;
     font-weight: 800;
     margin-bottom: 20px;
 }

 .text-section>h4 {
     color: rgba(19, 19, 24, 0.70);
     font-size: 16px;
     font-weight: 400;
     line-height: 26px;
 }

 .details>h4,
 li {
     color: rgba(19, 19, 24, 0.70);
     font-size: 14px;
     font-weight: 400;
     line-height: 26px;
 }

 .text-section>button {
     margin-top: 28px;
 }

 .destination {
     text-align: center;
 }

 .destination-title {
     color: #131318;
     font-size: 36px;
     font-weight: 800;
     margin-bottom: 10px;
 }

 .destination-text {
     color: rgba(19, 19, 24, 0.70);
     font-size: 14px;
     font-weight: 400;
     line-height: 23px;
 }


 .view-gallery {
     padding: 30px 0 82px 0;

 }

 .grid-1 {
     display: flex;
     gap: 10px;
     margin-bottom: 10px;
 }

 .grid-1>img {
     width: 513px;

 }


 .grid-3 {
     display: flex;

 }

 .grid-33>img {
     width: 340px;
     padding-right: 10px;

 }

 .grid-4>img {
     width: 430px;
     padding-right: 10px;
 }

 .grid-5>img {
     width: 250px;

 }

 .grid-6 {
     display: flex;
     padding-top: 5px;
 }

 .grid-66>img {
     width: 425px;
     padding-right: 10px;
 }

 .grid-7>img {
     width: 605px;
 }

 .our-service {
     margin-bottom: 80px;
 }

 .our-service>h3 {
     color: #131318;
     font-size: 32px;
     font-weight: 800;
     padding-bottom: 10px;
     text-align: center;
 }

 .our-service>p {
     padding: 0 210px 40px;
     color: rgba(19, 19, 24, 0.70);
     font-size: 14px;
     font-weight: 400;
     line-height: 23px;
     text-align: center;
 }

 .offer-title {
     color: #131318;
     font-size: 22px;
     font-weight: 800;
 }

 .offer-details {
     color: #5A5A5D;
     font-size: 14px;
     font-weight: 400;
     line-height: 22px;
 }

 .service-details {
     display: flex;
     flex-wrap: wrap;
     gap: 24px;

 }

 .handpic-hotel,
 .world-class-service,
 .best-offer {
     width: 469px;
     height: 150px;
     padding: 30px 20px 40px;
 }

 .handpic-hotel {
     background-color: rgba(251, 181, 99, 0.05);
 }

 .world-class-service {
     background: rgba(41, 206, 246, 0.05);
 }

 .best-offer {
     background: rgba(233, 68, 68, 0.05);
     margin: 0 270px;
 }



 .sign-up-section {
     display: flex;
     margin-bottom: 80px;

 }

 .sign-up-text {
     width: 46%;
     padding: 35px;
     border: 1px solid #FF5400;
     border-radius: 10px;
     margin-left: 10px;
 }

 .sign-up-text>p {
     padding: 0 70px 22px 0;
     border-bottom: 1px solid rgba(199, 30, 182, 0.61);
     margin-bottom: 10px;
 }

 .sign-up-text>.gap {
     color: rgba(19, 19, 24, 0.30);
     font-size: 15px;
     font-weight: 400;
     padding: 15px 150px 15px 10px;
     border: none;
     background: rgba(19, 19, 24, 0.05);
     border-radius: 6px;
     margin: 10px 0;

 }

 .sign-up-text>.Subscribe-button {
     color: #FFF;
     font-size: 16px;
     font-weight: 800;
     background: #FF5400;
     padding: 15px 127px;
     border-radius: 6px;
     border: none;
 }


 .sign-up-image>img {
     height: 100%;
     width: 100%;
     margin-left: 20px;
 }








 @media screen and (max-width: 600px) {

     header,
     main {
         padding: 0 20px;
     }

     .banner-title {
         padding: 28px 52px 10px 52px;
         font-size: 18px;
         font-weight: 800;
         text-align: center;
     }

     .nav-left {
         display: flex;
         width: 50%;
         align-items: center;
         gap: 10px;
         margin: 42px 0 39px 0;
     }

     nav>ul {
         display: none;
     }

     .nav-title {
         font-size: 20px;

     }

     .banner-description {
         text-align: center;
         font-size: 13px;
         padding: 0 10px 30px;
     }

     .search-section {
         display: grid;
         grid-template-columns: repeat(1, 1fr);
         margin: 0 30px;
         padding: 15px;
     }

     .search {
         padding: 12px 25px;
     }

     .popular-tour {
         display: grid;
         margin-bottom: 40px;
     }

     .text-section {
         width: 100%;
     }

     .destination-title {
         font-size: 20px;
     }

     .destination-text {
         font-size: 11px;
     }

     .view-gallery {
         padding: 20px 0 50px 0;
     }

     .grid-1,
     .grid-3,
     .grid-6 {
         display: grid;
     }

     .grid-1>img,
     .grid-33>img,
     .grid-4>img,
     .grid-5>img,
     .grid-66>img,
     .grid-7>img {
         width: 390px;
         padding-bottom: 5px;
     }

     .our-service>p {
         padding: 0;
     }

     .best-offer {
         margin: 0;
     }

     .sign-up-section {
         display: grid;
         margin-bottom: 60px;
     }

     .sign-up-text {
         width: 100%;
         padding: 0;
         margin-left: 0;
         margin-bottom: 10px;
     }

     .sign-up-image>img {
         margin-left: 0;
     }

 }


 @media screen and (min-width:992px) {
     .banner-title {
         padding: 70px 170px 10px;
         font-size: 40px;
         text-align: center;
     }

     .search-section {
         margin: 0 20px;
     }

     /* .grid-1>img {
         width: 380px;
     }
     .grid-33>img {
        width: 245px;
    }
    .grid-4>img {
        width: 320px;
    }
    .grid-5>img {
        width: 185px;
    }
    .grid-66>img {
        width: 315px;
    }
    .grid-7>img {
        width: 445px;
    }*/

 }